---
import { getRelativeLocaleUrl } from "astro:i18n";
import type { Languages } from "../i18n/ui";
import {
  useContentTranslations,
  useLocalTranslations,
  useSharedTranslations,
} from "../i18n/utils";
import Layout from "../layouts/Layout.astro";

interface Props {
  lang: Languages;
}

const props = Astro.props;

const lang = props.lang ?? "ja";
const t = useSharedTranslations(lang);
const tl = useLocalTranslations(lang);
const content = useContentTranslations(lang);
---

<Layout title={`${content.navigation("サブページ")}:  ${t('title')}`} description={content.navigation("サブページ")} lang={lang}>
  <h1>{t('nav.about')}</h1>
  <a href={getRelativeLocaleUrl(lang, '/')}>{content.navigation("ホームへ")}</a>
</Layout>
