---
import { getRelativeLocaleUrl } from "astro:i18n";
import { LangSelector } from "../components/LangSelector";
import type { Languages } from "../i18n/ui";
import { useLocalTranslations, useSharedTranslations } from "../i18n/utils";
import Layout from "../layouts/Layout.astro";

interface Props {
  lang: Languages;
}

const props = Astro.props;

const lang = props.lang ?? "ja";
const t = useSharedTranslations(lang);
const tl = useLocalTranslations(lang);
---

<Layout title={`${tl({ja: "サブページ", en: "Sub page."})}: ${t('title')}`} description={tl({ja: "サブページ", en: "Sub page."})} lang={lang}>
  <h1>{t('nav.about')}</h1>
  <a href={getRelativeLocaleUrl(lang, '/')}>ホームへ</a>
</Layout>
