---
import { getRelativeLocaleUrl } from "astro:i18n";
import type { Languages } from "../i18n/ui";
import { useLocalTranslations } from "../i18n/utils";
import type { BlogSchema } from "../utils/microcms";
import Layout from "./Layout.astro";

type Props = {
  lang: Languages;
  blogs: BlogSchema[];
};

const { blogs, lang } = Astro.props;

const tl = useLocalTranslations(lang);

const sanitizeSlug = (slug: string) => {
  // Remove leading and trailing slashes from the slug
  return slug.replace(/^\//, "").replace(/\/$/, "");
};
---

<Layout title="Blog" description={tl({ja: '記事一覧です。', "en": "List of articles"})} lang={lang}>
  <ul>
    {blogs.map(
      (blog) => {
        const sanitizedSlug = sanitizeSlug(blog.slug);
        return (
          <li>
            <a href={getRelativeLocaleUrl(lang, `/blog/${sanitizedSlug}`)}>{new Date(blog.createdAt).toLocaleDateString(lang)}: {blog.title}</a>
          </li>
        );
      }
    )}
  </ul>
</Layout>
