---
import type { z } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Typography } from "../components/Typography";
import type { blogSchema } from "../content/config";
import type { Languages } from "../i18n/ui";
import {
  useLocalTranslations,
  useLocalTranslationsWithElement,
  useSharedTranslations,
} from "../i18n/utils";
import Layout from "./Layout.astro";

type Props = {
  lang: Languages;
  blogs: {
    slug: string;
    data: z.infer<typeof blogSchema>;
  }[];
};

const { blogs, lang } = Astro.props;

const t = useSharedTranslations(lang);
const tl = useLocalTranslations(lang);
---

<Layout title="Blog" description={tl({ja: '記事一覧です。', "en": "List of articles"})} lang={lang}>
  <Typography level="h1">Blog</Typography>
  <ul>
    {blogs.map((blog) => (
      <li>
          <a href={getRelativeLocaleUrl(lang, `/blog/${blog.slug}`)}>{blog.data.date.toLocaleDateString(lang)} {blog.data.title}</a>
      </li>
    ))}
  </ul>
</Layout>
